<div class= "col-xs-12 col-xs-offset-1about" style = "padding-bottom:20px;">
  <h2> About Me </h2>
</div>
<div class = "col-xs-12 col-sm-4">
  <%= image_tag  'ethan.jpg', class: 'img-responsive' %>
</div>
<div class = 'col-xs-12 col-sm-7 col-sm-offset-1 about'>
  <h2 class = "text-center">Ethan He</h2>
  <br />
  <p>
    Ethan is a self-taught web developer from the United States. He has a bachelor degree in Business Marketing and have been coding part time for about half year now. Right now he is working for a  financial firm, and currently attenting The Firehose Project online coding bootcamp.
  </p>
</div>
<br class =  "clear" />
<br />
<br />
<br />
<br />
