<div class= "col-xs-10 col-xs-offset-1">
  <h1> About Splurty </h1>
</div>
<p>
  Splurty was built by <a target="_blank" href="https://github.com/Se7enB2st"> Ethan</a>. A developer who is passionate about coding, and problem solving.
</p>
<br />
<p>
  If you wish to learn more about me. Click <a target="_blank" href="http://codedoko.com/" > here</a>.
</p>
</div>
